* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --softblue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --blueMain: hsl(217, 54%, 11%);
    --blueCard: hsl(216, 50%, 16%);
    --blueLine: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

body {
    display: flex;
    overflow: hidden;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0d192b;
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
}

img {
    height: auto;
    user-select: none;
}

.card {
    height: auto;
    width: 26rem;
    border-radius: 15px;
    background-color: var(--blueCard);
    padding: 2rem 2rem 0rem;
}

.product {
    border-radius: 10px;
    height: 22rem;
}

.product:hover {
    background: url(../images/icon-view.svg) center no-repeat var(--cyan);
    cursor: pointer;
}

.product:hover .product_img {
    opacity: 0.3;
}

.product_img {
    width: 100%;
    border-radius: 10px;
}

.title {
    color: var(--white);
    margin: 1rem 0rem 0rem;
    font-size: 24px;
}

.title:hover {
    color: var(--cyan);
    cursor: pointer;
    transition: all 0.5s ease;
}

.description {
    color: var(--softblue);
    margin: 1rem 0rem;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    height: 2rem;
    width: 100%;
    margin: 1rem 0rem;
}

.price {
    display: flex;
}

.eth {
    color: var(--cyan);
}

.price_img {
    margin-right: 1rem;
}

.time {
    display: flex;
}

.time_img {
    margin-right: 0.5rem;
}

.days {
    color: var(--softblue);
}

.footer {
    display: flex;
    margin: 1rem 0rem;
}

.author_img {
    object-fit: cover;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 0.2px solid var(--softblue);
}

.author {
    color: var(--softblue);
    margin: 1rem auto;
}

span {
    color: var(--white);
}

span:hover {
    color: var(--cyan);
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

hr {
    width: 100%;
    border: 1px solid var(--blueLine);
}